
.page-container{
  max-width: 950px;
}

.user-details-container{
  height:75vh;
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.user-details-card ul li{
  font-size: 13px;
  font-weight:600;
  justify-content:center;
  margin-bottom:7px;
}
.user-details-card ul {
  margin: 0;
}
.user-details-card  ul.dashed{
  list-style-type: none;
  padding-left: 0;
}

.user-details-card  ul.dashed > li{
  text-indent: -5px;
}
.user-details-card ul.dashed > li:before {
  content: "- ";
  text-indent: -5px;
}

